<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="mahAppsConfig" type="CB.WPF.MahAppsExtension.MahAppsConfigSection, CB.WPF.MahAppsExtension, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>

  <mahAppsConfig accent="Yellow" appTheme="BaseDark" />

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <appSettings>
    <add key="todosUrl" value="http://localhost:5304/api/todos" />
    <add key="warningLevelConfig" value="Data\WarningLevelBrushes.xaml" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>